html {
  padding: 0;
  margin: 0;
}

.fw-bold {
  font-family: var(--bs-body-font-family);
}
#root {
  min-height: 100dvh;
  font-family: 'Aria', 'Noto Sans JP', sans-serif;
  font-display: swap;
}

a.unstyled {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--bs-link-color);
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  border-style: inherit;
}

// メインカラー
$main: rgb(25, 97, 206);
.text-main {
  color: $main !important;
}
.bg-main {
  background-color: $main !important;
}
.border-main {
  border-color: $main !important;
}
.btn-main {
  background-color: $main !important;
  border-color: $main !important;
  color: white !important;
}
.btn-outline-main {
  color: $main !important;
  border-color: $main !important;
  background-color: white !important;
}

.title-underline {
  margin-left: 20px;
  margin-right: 20px;
  border-width: 0;
  border-bottom-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    rgb(48, 117, 255) 0%,
    rgb(45, 219, 208) 100%
  );
  border-image-slice: 1;
}
