.pieItem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;

  > * {
    width: 160px;
    height: 160px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}
